@{
    ViewData["Title"] = "Home Page";
}
<a href="/booc/index">wala ko ka sabot</a>
<a href="/booc/educ">wala ko ka sabot</a>
<a href="/booc/job">wala ko ka sabot</a>


<div class="text-center">
    
    <h1 class="display-4">Magno kai bayot</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
