@{
    ViewData["Title"] = "Home Page";
}

@Html.ActionLink("balik didto", "index", "home")
<div class="text-center">
    <h1 class="display-4" style="background: red;">Education</h1>
    <p>Bachelor of Science in Information Technology 3rd Year Colleges</p>
</div>
