@{
    ViewData["Title"] = "Home Page";
}

@Html.ActionLink("balik didto", "index", "home")
<div class="text-center">
    <h1 class="display-4" style="background: red;">Personal info</h1>
    
        <h1>name:Client Stewart D. Booc</h1>
        <h1>Address: Nailon Bogo City Cebu</h1>
        <h1>Phone: 06788143512</h1>
        <h1>Gender: Male</h1>
        <h1>Status: Single</h1>
</div>
