@{
    ViewData["Title"] = "Home Page";
}

@Html.ActionLink("balik didto", "index", "home")
<div class="text-center">
    <h1 class="display-4" style="background: red;">Programmer </h1>
    <p>WEB DEVELOPER</p>
</div>
